<section id="faq">
  <a class="anchor" id="faqAnchor"></a>
  <div class="container">
    <div class="row">
      <div class="col-lg-12"><h3>Faq</h3></div>
      <div class="col-lg-12"><img class="dividerWide" src="/images/divider.png" alt=""></div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <ul class="tabs">
          <li><a href="#tab1">What do I need to use Vertex?</a></li>
          <li><a href="#tab2">How do I make a payment?</a></li>
          <li><a href="#tab3">How can I upgrade my subscription?</a></li>
          <li><a href="#tab4">How do I cancel my subscription?</a></li>
          <li><a href="#tab5">How do I find friends on Vertex?</a></li>
        </ul>
      </div>

        <div class="col-lg-8 tabContent">
          <div id="tab1">
            <p><span>What do I need to use Vertex?</span><br/><br/> Lorem ipsum dolor amet, consectetur adipiscing elit. Aenean leo lectus sollicitudin
            convallis quis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit
            malesuada. Sed non risus eget dolor vestibulum ullamcorper. Integer feugiat at massa
            sit amet molestie. Sed non risus eget dolor vestibulum ullamcorper. Integer feugiat at massa
            sit amet molestie. </p>
            <p>Fusce varius tincidunt metus ac accumsan. Sed varius pharetra risus
            ac scelerisque. Nulla facilisi. Nulla facilisi. Vivamus metus lorem, pellentesque a a
            ccumsan quis, imperdiet nec quam. </p>
          </div>

          <div id="tab2">
            <p><span>How do I make a payment?</span><br/><br/> Lorem ipsum dolor amet, consectetur adipiscing elit. Aenean leo lectus sollicitudin
            convallis quis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit
            malesuada. Sed non risus eget dolor vestibulum ullamcorper. Integer feugiat at massa
            sit amet molestie.</p>
          </div>

          <div id="tab3">
            <p><span>How can I upgrade my subscription?</span><br/><br/> Lorem ipsum dolor amet, consectetur adipiscing elit. Aenean leo lectus sollicitudin
            convallis quis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit
            malesuada. Sed non risus eget dolor vestibulum ullamcorper. Integer feugiat at massa
            sit amet molestie.</p>
            <p>Fusce varius tincidunt metus ac accumsan. Sed varius pharetra risus
            ac scelerisque. Nulla facilisi. Nulla facilisi. Vivamus metus lorem, pellentesque a a
            ccumsan quis, imperdiet nec quam. Sed non risus eget dolor vestibulum ullamcorper.
            Integer feugiat at massa sit amet molestie. Fusce varius tincidunt metus ac accumsan.
            Sed varius pharetra risus ac scelerisque.</p>
          </div>

          <div id="tab4">
            <p><span>How do I cancel my subscription?</span><br/><br/> Lorem ipsum dolor amet, consectetur adipiscing elit. Aenean leo lectus sollicitudin
            convallis quis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit
            malesuada. Sed non risus eget dolor vestibulum ullamcorper. Integer feugiat at massa
            sit amet molestie.</p>
          </div>

          <div id="tab5">
            <p><span>How do I find my friends on Vertex?</span><br/><br/> Lorem ipsum dolor amet, consectetur adipiscing elit. Aenean leo lectus sollicitudin
            convallis quis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit
            malesuada. Sed non risus eget dolor vestibulum ullamcorper. Integer feugiat at massa
            sit amet molestie.</p>
          </div>
        </div>
      </div>
  </div>
</section>
