<a class="anchor" id="featuresAnchor"></a>
<section id="features">
  <div class="container">
    <div class="row"><div class="col-lg-12"><h3>Features</h3></div><div class="col-lg-12"><img class="dividerWide" src="/images/divider.png" alt=""></div></div>

    <div class="row">
      <div class="col-lg-4 featureItem">
        <div class="featureIcon" id="addUserIcon"></div>
        <h4>Share &amp; Connect</h4>
        <p>Lorem ipsum dolor sit quis amet, consectetur adipiscing elit. Aenean leo lectus sollicitudin convallis quis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit malesuada.  </p>
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
      </div>

      <div class="col-lg-4 featureItem">
        <div class="featureIcon" id="cloudIcon"></div>
        <h4>Access Date Anywhere</h4>
        <p>Lorem ipsum dolor sit quis amet, consectetur adipiscing elit. Aenean leo lectus sollicitudin convallis quis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit malesuada.  </p>
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
     </div>

      <div class="col-lg-4 featureItem">
        <div class="featureIcon" id="gearIcon"></div>
        <h4>Customize Your Profile</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis leo lectus sollicitudin convallis quis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit malesuada.  </p>
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 featureItem">
        <div class="featureIcon" id="uploadIcon"></div>
        <h4>Quick &amp; Easy File Upload</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis leo lectus sollicitudin convallis quis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit malesuada.  </p>
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
      </div>

      <div class="col-lg-4 featureItem">
        <div class="featureIcon" id="messageIcon"></div>
        <h4>Interactive Chat</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis leo lectus sollicitudin convallis quis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit malesuada.  </p>
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
      </div>

      <div class="col-lg-4 featureItem">
        <div class="featureIcon" id="connectIcon"></div>
        <h4>Growing Community</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis leo lectus sollicitudin convallis quis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit malesuada.  </p>
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
      </div>
    </div>
  </div>
</section>
