<a class="anchor" id="howItWorksAnchor"></a>
<section id="howItWorks">
  <div class="container">
    <div class="row"><div class="col-lg-12"><h3>How It Works</h3></div><div class="col-lg-12"><img class="dividerWide" src="/images/divider.png" alt=""></div></div>
    <div class="row">
      <div class="col-lg-6 howItWorksGraphic">
        <img class="iphoneSmall" src="/images/iphoneMagnify.png" alt="iphone" />
        <img class="dividerHalf" src="/images/dividerHalf.png" alt="divider" />
      </div>

      <div class="col-lg-6">
        <h4>Upload your files. <span>Anywhere, anytime.</span></h4><br/>
        <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Aenean leo lectus sollicitudin
        convallis quis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit
        malesuada. Sed non risus eget dolor vestibulum ullamcorper. Integer feugiat at
        massa sit amet molestie. Fusce varius tincidunt metus ac accumsan. Sed varius
        pharetra risus ac scelerisque. Nulla facilisi. Nulla facilisi. Vivamus metus lorem,
        pellentesque a accumsan quis, imperdiet nec quam. Sed non risus eget dolor
        vestibulum ullamcorper. Integer feugiat at massa sit amet molestie. Fusce varius
        tincidunt metus ac accumsan.</p>
      </div>
    </div>

    <div class="transition1"></div>
    <div class="row">
      <div class="col-lg-6">
        <h4>Share with a <span>growing community.</span></h4><br/>
        <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Aenean leo lectus sollicitudin
        convallis quis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit
        malesuada. Sed non risus eget dolor vestibulum ullamcorper. Integer feugiat at
        massa sit amet molestie. Fusce varius tincidunt metus ac accumsan. Sed varius
        pharetra risus ac scelerisque. Nulla facilisi. Nulla facilisi. Vivamus metus lorem,
        pellentesque a accumsan quis, imperdiet nec quam. Sed non risus eget dolor
        vestibulum ullamcorper. Integer feugiat at massa sit amet molestie. Fusce varius
        tincidunt metus ac accumsan.</p>
      </div>

      <div class="col-lg-6 howItWorksGraphic">
        <img class="iphoneSmall" src="/images/iphoneMagnify.png" alt="iphone" />
        <img class="dividerHalf" src="/images/dividerHalf.png" alt="divider" />
      </div>
    </div>

    <div class="transition2"></div>
    <div class="row">
      <div class="col-lg-6 howItWorksGraphic">
        <img class="iphoneSmall" src="/images/iphoneMagnify.png" alt="iphone" />
        <img class="dividerHalf" src="/images/dividerHalf.png" alt="divider" />
      </div>

      <div class="col-lg-6">
        <h4><span>Follow</span> your favorite people.</h4><br/>
        <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Aenean leo lectus sollicitudin
        convallis quis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit
        malesuada. Sed non risus eget dolor vestibulum ullamcorper. Integer feugiat at
        massa sit amet molestie. Fusce varius tincidunt metus ac accumsan. Sed varius
        pharetra risus ac scelerisque. Nulla facilisi. Nulla facilisi. Vivamus metus lorem,
        pellentesque a accumsan quis, imperdiet nec quam. Sed non risus eget dolor
        vestibulum ullamcorper. Integer feugiat at massa sit amet molestie. Fusce varius
        tincidunt metus ac accumsan.</p>
      </div>
    </div>
  </div>
</section>
