<a class="anchor" id="pricingAnchor"></a>
<section id="pricing">
  <div class="container">
    <div class="row"><div class="col-lg-12"><h3>Pricing Options</h3></div><div class="col-lg-12"><img class="dividerWide" src="/images/divider.png" alt=""></div></div>
      <div class="row">

      <div class="col-lg-4">
        <div class="pricingTable">
          <div class="pricingHeader"><h1>FREE</h1></div>
          <div class="triangleWhite"><img src="/images/triangleWhite.png" alt="triangle" /></div>
          <div class="priceAmount"><h2>$0.00 <br/><span>per month</span></h2></div>
          <ul>
            <li>10 GB limited storage</li>
            <li>Lorem Ipsum</li>
            <li>Aliquam laoreet tellus</li>
            <li>Aliquam laoreet</li>
            <li>Lorem Ipsum</li>
          </ul>
          <div class="buttonContainer"><a href="#" class="buttonSmall">Purchase</a></div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="pricingTable">
          <div class="pricingHeader"><h1>STANDARD</h1></div>
          <div class="triangleWhite"><img src="/images/triangleWhite.png" alt="triangle" /></div>
          <div class="priceAmount"><h2>$4.00 <br/><span>per month</span></h2></div>
          <ul>
            <li>25 GB limited storage</li>
            <li>Lorem Ipsum</li>
            <li>Aliquam laoreet tellus</li>
            <li>Aliquam laoreet</li>
            <li>Lorem Ipsum</li>
          </ul>
          <div class="buttonContainer"><a href="#" class="buttonSmall">Purchase</a></div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="pricingTable">
          <div class="pricingHeader"><h1>PREMIUM</h1></div>
          <div class="triangleWhite"><img src="/images/triangleWhite.png" alt="triangle" /></div>
          <div class="priceAmount"><h2>$8.00 <br/><span>per month</span></h2></div>
          <ul>
            <li>50 GB limited storage</li>
            <li>Lorem Ipsum</li>
            <li>Aliquam laoreet tellus</li>
            <li>Aliquam laoreet</li>
            <li>Lorem Ipsum</li>
          </ul>
          <div class="buttonContainer"><a href="#" class="buttonSmall">Purchase</a></div>
        </div>
      </div>

    </div>
  </div>
</section>
