<a class="anchor" id="screenshotsAnchor"></a>
<section id="screenshots">
  <div class="container">
    <div class="row"><div class="col-lg-12"><h3>Screenshots</h3></div><div class="col-lg-12"><img class="dividerWide" src="/images/divider.png" alt=""></div></div>

    <div class="row">
      <div class="col-lg-3">
          <div class="image">
          <img src="/images/screenshot1.png" class="screenshotImage" alt="placeholder" />
          <a href="/images/screenshot1.png" data-lightbox="screenshot1" title="This is a caption" class="overlay"><img class="linkIcon" src="/images/icons/linkIcon.png" alt="" /></a>
          </div>
        <h4>Share &amp; Connect</h4>
        <p>Lorem ipsum leo dolor lectus amet, consectetur adipiscing elit. Aenean quis leo sollicitudin convallis quis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit elit malesuada.  </p>
      </div>

      <div class="col-lg-3">
        <div class="image">
        <img src="/images/screenshot2.png" class="screenshotImage" alt="placeholder" />
        <a href="/images/screenshot2.png" data-lightbox="screenshot2" title="This is a caption" class="overlay"><img class="linkIcon" src="/images/icons/linkIcon.png" alt="" /></a>
        </div>
        <h4>File Upload</h4>
        <p>Lorem ipsum leo dolor lectus amet, consectetur adipiscing elit. Aenean quis leo sollicitudin convallis quis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit elit malesuada.  </p>
      </div>

      <div class="col-lg-3">
        <div class="image">
          <img src="images/screenshot3.png" class="screenshotImage" alt="placeholder" />
          <a href="images/screenshot3.png" data-lightbox="screenshot3" title="This is a caption" class="overlay"><img class="linkIcon" src="/images/icons/linkIcon.png" alt="" /></a>
        </div>
        <h4>Interactive Chat</h4>
        <p>Lorem ipsum leo dolor lectus amet, consectetur adipiscing elit. Aenean quis leo sollicitudin convallis quis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit elit malesuada.  </p>
      </div>

      <div class="col-lg-3">
        <div class="image">
          <img src="/images/screenshot4.png" class="screenshotImage" alt="placeholder" />
          <a href="/images/screenshot4.png" data-lightbox="screenshot4" title="This is a caption" class="overlay"><img class="linkIcon" src="/images/icons/linkIcon.png" alt="" /></a>
        </div>
        <h4>Notifications</h4>
        <p>Lorem ipsum leo dolor lectus amet, consectetur adipiscing elit. Aenean quis leo sollicitudin convallis quis eget libero. Aliquam laoreet tellus ut libero semper, egestas velit elit malesuada.  </p>
      </div>
    </div>
  </div>
</section>
