<section id="ourTeam">
  <a class="anchor" id="ourTeamAnchor"></a>
  <div class="container">
    <div class="row">
      <div class="col-lg-12"><h3>Our Team</h3></div>
      <div class="col-lg-12"><img class="dividerWide" src="/images/divider.png" alt=""></div>
    </div>

    <div class="row">
      <div class="col-lg-6 teamMemberInfo">
        <img class="teamImage" src="/images/teamImage1.png" alt="" />
        <div class="col-lg-7 teamText">
        <h4><span>John Doe</span> / Designer</h4>
        <p>Lorem ipsum dolor non, consectetur adipiscing
        elit. Aenean lectus sollicitudin convallis quis
        libero. Aliquam laoreet tellus ut libero semper,
        egestas velit malesuada. Sed non risus eget
        dolor vestibulum ullamcorper. Integer feugiat
        massa molestie.</p>
        <ul class="socialIcons">
          <li><a href="#" class="fbIcon" target="_blank"></a></li>
          <li><a href="#" class="twitterIcon" target="_blank"></a></li>
          <li><a href="#" class="googleIcon" target="_blank"></a></li>
          <li><a href="#" class="flickrIcon" target="_blank"></a></li>
        </ul>
        </div>
      </div>

      <div class="col-lg-6 teamMemberInfo">
        <img class="teamImage" src="/images/teamImage2.png" alt="" />
        <div class="col-lg-7 teamText">
        <h4><span>Sally Doe</span> / Developer</h4>
        <p>Lorem ipsum dolor non, consectetur adipiscing
        elit. Aenean lectus sollicitudin convallis quis
        libero. Aliquam laoreet tellus ut libero semper,
        egestas velit malesuada. Sed non risus eget
        dolor vestibulum ullamcorper. Integer feugiat
        massa molestie.</p>
        <ul class="socialIcons">
          <li><a href="#" class="fbIcon" target="_blank"></a></li>
          <li><a href="#" class="twitterIcon" target="_blank"></a></li>
          <li><a href="#" class="googleIcon" target="_blank"></a></li>
          <li><a href="#" class="flickrIcon" target="_blank"></a></li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</section>
