<section id="testimonials">
  <div class="container">
    <div class="row">
      <ul class="slides2">
        <li>
          <div class="col-lg-2"><img src="/images/testimonialImage.png" alt="" /></div>
          <div class="col-lg-10">
          <h1><span>"</span>Vertex is the most incredible app out there! Lorem ipsum dolor amet, consectetur adipiscing
          elit. Aenean leo lectus sollicitudin convallis quis eget libero. Sed non risus eget dolor.</h1>
          <p><span><a href="#">John Doe</a></span> / Web Developer</p>
          </div>
        </li>

        <li>
          <div class="col-lg-2"><img src="/images/testimonialImage.png" alt="" /></div>
          <div class="col-lg-10">
          <h1><span>"</span>Vertex is the most incredible app out there! Lorem ipsum dolor amet, consectetur adipiscing
          elit. Aenean leo lectus sollicitudin convallis quis eget libero. Sed non risus eget dolor.</h1>
          <p><span><a href="#">John Anderson</a></span> / Web Designer</p>
          </div>
        </li>
        
        <li>
          <div class="col-lg-2"><img src="/images/testimonialImage.png" alt="" /></div>
          <div class="col-lg-10">
          <h1><span>"</span>Vertex is the most incredible app out there! Lorem ipsum dolor amet, consectetur adipiscing
          elit. Aenean leo lectus sollicitudin convallis quis eget libero. Sed non risus eget dolor.</h1>
          <p><span><a href="#">Peter Parker</a></span> / Web Designer</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
