<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 about">
        <a href="#" class="logoDark"></a><br/><br/>
        <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Aenean
        leo lectus sollicitudin convallis eget libero. Aliquam laoreet
        tellus ut libero semper, egestas velit malesuada. Sed non
        risus eget dolor amet vestibulum ullamcorper. Integer feugiat
        molestie.</p>
        <ul class="socialIcons">
          <li><a href="#" class="fbIcon" target="_blank"></a></li>
          <li><a href="#" class="twitterIcon" target="_blank"></a></li>
          <li><a href="#" class="googleIcon" target="_blank"></a></li>
          <li><a href="#" class="flickrIcon" target="_blank"></a></li>
        </ul>
      </div>

      <div class="col-lg-4 twitter">
        <h4>Latest Tweets</h4>
        <ul>
          <li><a href="#">@John Doe</a> Lorem ipsum dolor amet, consectetur adipiscing
          elit. Aenean leo lectus sollicitudin eget libero.<br/><span>2 minutes ago</span></li>
          <li><a href="#">@John Doe</a> Lorem ipsum dolor amet, consectetur adipiscing
          elit. Aenean leo lectus sollicitudin eget libero.<br/><span>About an hour ago</span></li>
        </ul>
      </div>

      <div class="col-lg-4 contact">
        <h4>Contact Info</h4>
        <p>Lorem ipsum dolor amet, consectetur adipiscing ipsum dolor.</p>
        <ul>
          <li><img src="/images/icons/footerPhone.png" alt="phone icon" />1-123-345-6789</li>
          <li><img src="/images/icons/footerPin.png" alt="pin icon" /><a href="#">contact@vertexTheme.com</a></li>
          <li><img src="/images/icons/footerMail.png" alt="mail icon" />123 Smith Drive, Baltimore, MD 21212</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
