<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Vertex, singple page mobile app theme.">
    <meta name="keywords" content="vertex, theme, app, single page">
    <meta name="author" content="rype pixel">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ siteTitle }}</title>

    <!-- JS Shiv -->
    <script src="/js/html5shiv.js"></script>  <!-- support for HTML5 in IE8 -->

    <!-- CSS file links -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" id="styleChange" />
    <link href="/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="/css/lightbox.css" type="text/css" rel="stylesheet" />
    <link href="/css/responsive.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <!-- Start Top -->
    {% include "Templates/Top/top.mustache" %}
    <!-- End Top -->

    <!-- Start Content -->
    {% include "Templates/Content/content.mustache" %}
    <!-- End Content -->

    <!-- Start Footer -->
    {% include "Templates/footer.mustache" %}
    <!-- End Footer -->


    <!-- JavaScript file links -->
    <script src="/js/jquery.js"></script>			<!-- Jquery -->
    <script src="/js/bootstrap.min.js"></script>		<!-- bootstrap -->
    <script src="/js/jquery.bxslider.min.js"></script>  <!-- bxslider -->
    <script src="/js/tabs.js"></script> <!-- custom tab script -->
    <script src="/js/lightbox-2.6.min.js"></script>  <!-- lightbox -->
    <script src="/js/jquery.scrollTo.js"></script>  <!-- scollTo -->
    <script src="/js/jquery.nav.js"></script>  <!-- one page nav -->
    <script src="/js/respond.js"></script>

    <script>
      "use strict";
      // ACTIVATE BXSLIDER (for slider section)
      $(document).ready(function(){
        $('.slides').fadeIn().bxSlider({
          auto: true,
          pager: false,
          nextSelector: '#slider-next',
          prevSelector: '#slider-prev',
          nextText: '<img src="/images/nextButton.png" alt="slider next" />',
          prevText: '<img src="/images/prevButton.png" alt="slider prev" />',
          // triggers slider animations on slide change
          onSlideBefore: function(){
            $('.jumbotron img').addClass("fadeInReallyFast");
            $('.jumbotron h1').addClass("fadeInFast");
            $('.jumbotron p').addClass("fadeInMed");
            $('.jumbotron .button').addClass("fadeInSlow");
            $('.jumbotron .buttonSmall').addClass("fadeInSlow");
            $('#emailInputSlider').addClass("fadeInSlow");

            setTimeout (function(){
              $('.jumbotron img').removeClass("fadeInReallyFast");
              $('.jumbotron h1').removeClass("fadeInFast");
              $('.jumbotron p').removeClass("fadeInMed");
              $('.jumbotron .button').removeClass("fadeInSlow");
              $('.jumbotron .buttonSmall').removeClass("fadeInSlow");
              $('#emailInputSlider').removeClass("fadeInSlow");
            }, 1400);
          }
        });

        //Triggers slider animations on page load
        $(document).ready(function() {
          $('.jumbotron img').toggleClass("fadeInReallyFast");
          $('.jumbotron h1').toggleClass("fadeInFast");
          $('.jumbotron p').toggleClass("fadeInMed");
          $('.jumbotron .button').toggleClass("fadeInSlow");
          $('.jumbotron .buttonSmall').toggleClass("fadeInSlow");
          $('#emailInputSlider').toggleClass("fadeInSlow");

          setTimeout (function(){
            $('.jumbotron img').removeClass("fadeInReallyFast");
            $('.jumbotron h1').removeClass("fadeInFast");
            $('.jumbotron p').removeClass("fadeInMed");
            $('.jumbotron .button').removeClass("fadeInSlow");
            $('.jumbotron .buttonSmall').removeClass("fadeInSlow");
            $('#emailInputSlider').removeClass("fadeInSlow");
          }, 1400);
        });

        //activate second bxslider (for testimonials section)
        $('.slides2').bxSlider({
          auto: true,
          controls: false
        });
      });

      // ACTIVATE ONE PAGE NAV
      $(document).ready(function() {
        $('.nav.navbar-nav.navbar-right').onePageNav();
      });
    </script>

    <script>
      "use strict";
      // SCREENSHOT IMAGE HOVERS
      $('.image').mouseover(function() {
        $(".overlay", this).stop(true, true).fadeIn();
      });

      $('.image').mouseout(function() {
        $(".overlay", this).stop(true, true).fadeOut();
      });
    </script>
  </body>
</html>
