<section id="promoBox">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h4>Try out the <span>free trial</span> today.</h4>
        <p>Lorem ipsum dolor ut, consectetur adipiscing. Aenean quis lectus sollicitudin.</p>
      </div>
      <div class="col-lg-6">
        <form name="subscribeForm" id="subscribeForm" action="#" novalidate>
              <input type="email" name="email" id="emailInput" placeholder="your email here" value="">
              <input type="submit" id="subscribeButton" value="Subscribe">
        </form>
      </div>
    </div>
  </div>
</section>
