<header class="navbar navbar-default navbar-fixed-top">
   <div class="container">
     <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#"></a>
     </div>

     <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
           <li class="current"><a href="/">Home</a></li>
           <li><a href="/features/">Features</a></li>
           <li><a href="#screenshotsAnchor">Screenshots</a></li>
           <li><a href="#howItWorksAnchor">How It Works</a></li>
           <li><a href="#pricingAnchor">Pricing</a></li>
           <li><a href="#faqAnchor">Faq</a></li>
           <li><a href="#ourTeamAnchor">Our Team</a></li>
           <li><a href="#contactAnchor" style="padding-right:0px;">Contact</a></li>
         </ul>
     </div>
   </div>
</header>
