<a class="anchor" id="sliderAnchor"></a>
<section class="jumbotron">
  <div class="container">
    <ul class="slides" style="display:none;">
      <li>
        <div class="col-lg-6">
          <img id="iphoneBlack" class="img-responsive" src="/images/iphoneBlack.png" alt="iphone" />
          <img id="iphoneWhite" class="img-responsive" src="/images/iphoneWhite.png" alt="iphone" />
        </div>
        <div class="col-lg-6 slideText">
          <h1><span>Showcase</span> Your App</h1>
          <p>Vertex is the <span>perfect template</span> to showcase your iPhone or Android app. {{ stuff }}</p><br/>
          <a href="#" class="button">Download Vertex</a>
        </div>
      </li><!-- END Slide 1 -->
      <li>
        <div class="col-lg-6">
          <img id="ipadWhite" src="/images/ipadWhite.png" alt="ipad white" />
          <img id="ipadBlack" src="/images/ipadBlack.png" alt="ipad black" />
          <img id="iphoneBlackSmall" src="/images/iphoneBlackSmall.png" alt="iphone" />
        </div>
        <div class="col-lg-5 col-lg-offset-1 slideText">
          <h1><span>Connect &amp; share</span> easier then ever.</h1>
          <p>Join a growing community on Vertex using the iPad,
          iPhone, Andriod and web. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit </p>
          <form method="post" action="/stuff">
            <input type="text" name="email" placeholder="Your email" id="emailInputSlider" style="margin-right:0px" /><br/>
            <input type="submit" name="submit" value="Start Your Free Trial" class="buttonSmall" id="buttonSmallSlider" />
          </form>
        </div>
      </li><!-- END Slide 2 -->
      <li style="text-align:center;">
        <h1><span>Vertex</span> is an incredible app</h1>
        <p>Join our community and start <span>exploring</span> today on iPad, iPhone or Android</p>
        <img id="bubbleGraphic" src="/images/bubbleGraphic.png" alt="" />
        <ul id="slideThreeList">
          <li>Upload</li>
          <li>Share</li>
          <li>Connect</li>
        </ul>
      </li>
    </ul>
  </div><!-- END Container -->

  <div class="sliderControls">
    <span id="slider-prev"></span>
    <span id="slider-next"></span>
  </div>
</section>
