<section id="subSliderMessage">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Random Bollocks</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras amet rhoncus tortor. Phasellus in auctor tellus. Pellentesque laoreet, eros at, iaculis massa. </p>
      </div>
    </div>
  </div>
</section>
