<!-- Header Start -->
{% include "Templates/Top/header.mustache" %}
<!-- Header End -->

<!-- Slider Start -->
{% include "Templates/Top/slider.mustache" %}
<!-- Slider End -->

<!-- sub-slider message Start -->
{% include "Templates/Top/subslider.mustache" %}
<!-- Sub-slider message End -->
